@mixin box-textarea {
    color: #000000;
    border: none;
}

.note {
    padding: 0.5rem;
    font-size: 15px;
    filter: grayscale(25%);
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;


    &:focus-within,
    &--editable:hover {
        box-shadow: 2px 2px 15px rgba(10, 10, 10, 0.5);
    }

    .browser-compat &__content.textarea {
        background-color: #333;
    }

    &__content {
        background-color: inherit;
        margin: 0;
        box-shadow: none;
        min-height: 1.5rem;

        @include box-textarea;

        &::placeholder {
            @include box-textarea;
        }

        &::-moz-placeholder {
            @include box-textarea;
        }

        &::-webkit-input-placeholder {
            @include box-textarea;
        }

        &:-moz-placeholder {
            @include box-textarea;
        }

        &:-ms-input-placeholder {
            @include box-textarea;
        }
    }

    &--blurred &__content {
        filter: blur(2px);
        text-shadow: 0 0 8px #000;
        color: transparent;
    }

    &__delete-icon {
        color: white;
        width: 2px;
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 15px;
        cursor: pointer;
        z-index: 1;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__action-delete-black {
        color: black;
        width: 2px;
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 15px;
        cursor: pointer;
        z-index: 1;

        &:hover {
            transform: scale(1.2);
        }
    }
}
